<div class="row">
  <div class="col-md-3 col-sm-12">

    <mat-form-field>
      <input
        #filterInput
        (keydown.escape)="searchTaskText = ''; onFilterByTitle()"
        (keyup)="onFilterByTitle()"
        [(ngModel)]="searchTaskText"
        matInput
        placeholder="Search in current category"
      >

      <button
        (click)="searchTaskText = ''; onFilterByTitle()"
        *ngIf="filterInput.value.trim().length > 0"
        aria-label="Clear"
        class="clear-icon size25 gray"
        mat-button
        mat-icon-button
        matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="col-md-3 col-sm-12">
    <mat-form-field>
      <mat-select
        #statusFilter
        (valueChange)="onFilterByStatus(this.$event)"
        [value]="selectedStatusFilter"
        placeholder="Status filter"
      >
        <mat-option [value]="null">All statuses</mat-option>
        <mat-option [value]="true">Completed</mat-option>
        <mat-option [value]="false">Not completed</mat-option>

      </mat-select>

      <button
        (click)="$event.stopPropagation(); onFilterByStatus(null)"
        *ngIf="selectedStatusFilter != null"
        aria-label="Clear"
        class="clear-icon size25 gray"
        mat-button
        mat-icon-button
        matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>

  </div>

  <div class="col-md-3 col-sm-12">

    <mat-form-field>
      <mat-select
        (valueChange)="onFilterByPriority(this.$event)"
        [value]="selectedPriorityFilter"
        placeholder="Priority filter"
      >
        <mat-option [value]="null">All priorities</mat-option>
        <mat-option *ngFor="let priority of priorities" [value]="priority">{{ priority.title }}</mat-option>

      </mat-select>

      <button
        (click)="$event.stopPropagation(); onFilterByPriority(null);"
        *ngIf="selectedPriorityFilter != null"
        aria-label="Clear"
        class="clear-icon size25 gray"
        mat-button
        mat-icon-button
        matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>

  </div>

  <div class="col-md-3 col-sm-12 text-right">
    <div class="row padding-top-20">
      <div class="text-left col-5">
        <button
          class="nopadding-left"
          (click)="$event.stopPropagation(); onFilterByStatus(null); onFilterByPriority(null); searchTaskText = ''; onFilterByTitle()"
          *ngIf="selectedStatusFilter != null || (searchTaskText != null && searchTaskText.trim() != '') || selectedPriorityFilter != null"
          aria-label="Clear"
          mat-button
          matSuffix
        >
          Reset filters
        </button>
      </div>

      <div class="text-right col-6">
        <button
          color="primary"
          mat-raised-button
          (click)="openAddTaskDialog()"
        >
          Add</button>
      </div>

    </div>

  </div>
</div>

<div class="col-md-12 task-list">
  <div class="card" *ngIf="!isMobile">
    <div class="card-header card-header-primary" *ngIf="!isMobile">
      <h4 class="card-title">Task List</h4>
    </div>
    <div
      class="card-body table-responsive"
      *ngIf="tasks && tasks.length > 0"
    >
      <table
        [dataSource]="dataSource"
        mat-table
        matSort
      >

        <ng-container matColumnDef="color">
          <th
            *matHeaderCellDef
            mat-header-cell
          ></th>
          <td
            class="col-color"
            *matCellDef="let task"
            [style.background-color]="getPriorityColor(task)"
            mat-cell
          ></td>
        </ng-container>


        <ng-container matColumnDef="id">
          <th
            *matHeaderCellDef
            mat-header-cell
          ></th>
          <td
            class="col-id"
            *matCellDef="let idx = index;"
            mat-cell
          >
            {{ idx + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
          >Task
          </th>
          <td
            class="col-title pointer"
            *matCellDef="let task"
            [class.completed]="task.completed"
            mat-cell
            (click)="openEditTaskDialog(task)"
          >
            {{ task.title | slice:0:100}}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
          >Date
          </th>
          <td
            class="col-date"
            *matCellDef="let task"
            [ngClass]="{'completed': task.completed, 'novalue': task.date == null}"
            mat-cell
          >{{ task.date | taskDate }}</td>
        </ng-container>

        <ng-container matColumnDef="priority">
          <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
          >Priority
          </th>
          <td
            class="col-priority"
            *matCellDef="let task"
            [ngClass]="{'completed': task.completed, 'novalue': task.priority == null}"
            mat-cell
          >{{ task.priority ? task.priority.title : 'No priority' }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
          >Category
          </th>
          <td
            class="col-category"
            *matCellDef="let task"
            [ngClass]="{
            'completed': task.completed,
             'novalue': task.category == null,
              'link': !task.completed && task.category}"
            mat-cell
            (click)="!task.completed && task.category && onSelectCategory(task.category)"
          >{{ task.category ? task.category.title : 'No category' }}</td>
        </ng-container>

        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef></th>
          <td
            class="col-operations"
            mat-cell
            *matCellDef="let task"
            [class.completed]="task.completed"
          >

            <button
              mat-icon-button
              (click)="openDeleteDialog(task)"
              class="delete-icon"
            >
              <mat-icon aria-hidden="false">delete</mat-icon>
            </button>

            <button
              mat-icon-button
              (click)="openEditTaskDialog(task)"
              class="edit-icon"
            >
              <mat-icon aria-hidden="false">edit</mat-icon>
            </button>

          </td>
        </ng-container>

        <ng-container matColumnDef="select">
          <th
            mat-header-cell
            *matHeaderCellDef
          ></th>

          <td
            class="col-select text-right"
            mat-cell
            *matCellDef="let task"
          >
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? onToggleStatus(task) : null"
              [checked]="task.completed"
            >

            </mat-checkbox>

          </td>

        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; " mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>

    <div *ngIf="tasks && tasks.length == 0"><p class="not-found">Not found</p></div>
  </div>

  <div *ngIf="isMobile && tasks.length > 0">
    <div *ngFor="let task of tasks; let index = index; "
         [ngClass]="{'completed': task.completed}">


      <div (click)="$event.stopPropagation(); openEditTaskDialog(task)"
           [ngClass]="{'background-completed': task.completed}"
           class="card card-mobile">

        <div [ngClass]="{'background-completed': task.completed}"
             [style.background-color]="getPriorityColor(task)"
             class="mobile-priority-top">

        </div>

        <div class="row">

          <div class="mobile-title-inner  col-9 col-md-10 align-top">


            <div [class.completed]="task.completed" class="mobile-title"
            >{{task.title}}</div>


          </div>

          <div class="col-2 col-md-1 align-top mobile-check text-right">

            <button class="nowidth" (click)="$event.stopPropagation(); onToggleStatus(task)" *ngIf="!task.completed"
                    mat-icon-button>
              <mat-icon (click)="$event.stopPropagation(); onToggleStatus(task)"
                        class="check-icon-notcompleted"

              >check_circle_outline
              </mat-icon>
            </button>


            <button class="nowidth" (click)="$event.stopPropagation(); onToggleStatus(task)" *ngIf="task.completed"
                    mat-icon-button>
              <mat-icon class="check-icon-completed">check_circle</mat-icon>
            </button>
          </div>


        </div>

        <div class="row">

          <div class="mobile-info-inner  col-12 align-top">

            <div [ngClass]="{'completed': task.completed}"
                 class="mobile-category"
            >
              <p [ngClass]="{'category': !task.completed && task.category}">  {{task.category ? task.category.title : 'No category'}} </p>
            </div>

            <div *ngIf="task.priority" class="mobile-priority">
              <p [ngClass]="{'priority': !task.completed, 'completed': task.completed}"
                 [style.background-color]="getMobilePriorityBgColor(task)">  {{task.priority.title}} </p>
            </div>


            <div [ngClass]="{'completed': task.completed}" class="mobile-date">
              {{task.date | taskDate}}
            </div>


          </div>


        </div>


      </div>
    </div>


  </div>


  <div *ngIf="isMobile && tasks.length == 0">
    <p class="not-found">Not found</p>
  </div>

</div>

